.edit-product {
    display: flex;
    flex-direction: column;
    padding: 60px;
}

.text-input {
    max-width: 400px;
    height: 30px;
    margin: 10px 0;
}

.radio-btn-container {
    max-width: 400px;
    height: 30px;
    margin: 10px 0;
}

.editable-container {
    max-width: 400px;
    height: 30px;
    margin: 10px 0;
}

.update-btn {
    max-width: 200px;
    height: 40px;
}

.drop-down {
    margin: 10px 0;
    max-width: 400px;
}