.button {
  margin: 5px;
  height: 35px;
  min-height: 35px;
  min-width: 120px;
  padding: 7px 15px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  &__primary {
    color: #fff;
    background: #202533;
    border: 1px solid #fff;
  }
  &__danger {
    color: #fff;
    background: #e9334b;
    border: 1px solid #e9334b;
  }
}