.trailers {
  .filters-header {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #1f2533;
    color: #fff;
    justify-content: space-between;
    .action-btns {
      display: flex;
      flex-direction: row;
    }
    .dropdowns {
      display: flex;
      flex-direction: row;
    }
  }
  .applied-filters {
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #333644;
    color: #fff;
  }
  .trailers-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #333644;
    .card {
      display: flex;
      flex-direction: column;
      margin: 15px 20px;
      overflow: hidden;
      width: 200px;
      .card-img {
        width: 200px;
        height: 300px;
        background-color: #1f2533;
        color: #fff;
      }
      .card-details {
        padding: 5px;
        min-height: 50px;
        color: #fff;
      }
    }
  }
}
