.main-header {
  min-height: 60px;
  background-color: #333644;
  display: flex;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  top: 0;
  width: inherit;
  .title {
    color: #fff;
    width: 20%;
  }
}
